<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>

    <script src="../node_modules/three/build/three.js"></script>
    <script src="../node_modules/cannon/build/cannon.js"></script>
    <script src="../node_modules/three/examples/js/controls/OrbitControls.js"></script>
    <script src="../node_modules/three/examples/js/libs/stats.min.js"></script>

    <script src="../lib/dice.js"></script>
    <style>
        .initiative{
            text-align: center;
        }
        input{
            width: 30px;
            max-width: 100%;
        }
        input.long{
            width: 100px;
        }
        .dicetable{
            position: fixed;
            top: 0;
            right: 0;
        }
        .d4{background: #ff00ff;}
        .d6{background: #00ffff;}
        .d8{background: #00ff00;}
        .d10{background: #ffff00;}
        .d12{background: #ff8000;}
        .d20{background: #ff0000;}
        .dicetable th,.dicetable td{
            text-align: center;
            font-weight: bold;
            min-width: 10px;
            border: 1px solid black;
        }
        .sub,.add,.bigbutton{
            cursor: pointer;
            border: 3px outset;
        }
        .sub:active,.add:active,.bigbutton:active{
            cursor: pointer;
            border: 3px inset;
        }
        .roll{
            box-sizing: border-box;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin: auto;
            border: 1px solid transparent;
        }
        .fail{
            background: #ff0000;
            border-color: black;
        }
        .crit{
            background: #00ff00;
            border-color: black;
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">
        <table class="initiative" border cellspacing=0>
            <tr>
                <th>Initiative</th>
                <th>Name</th>
                <th>HP</th>
                <th>AC</th>
            </tr>
            <tr ng-repeat="c in combatants">
                <td><input ng-model="c.initiative"></td>
                <td><input ng-model="c.name" class="long"></td>
                <td><input ng-model="c.HP"></td>
                <td><input ng-model="c.AC"></td>
            </tr>
        </table>
        <table cellspacing=1 class="dicetable">
            <tr>
                <th rowspan=2>Dice</th>
                <th colspan=3 class="d4">d4</th>
                <th colspan=3 class="d6">d6</th>
                <th colspan=3 class="d8">d8</th>
                <th colspan=3 class="d10">d10</th>
                <th colspan=3 class="d12">d12</th>
                <th colspan=3 class="d20">d20</th>
                <th rowspan=2 ng-click="removeAllDice()" class="bigbutton">Clear</th>
                <th rowspan=4 ng-click="randomDiceThrow()" class="bigbutton">Roll</th>
            </tr>
            <tr>
                <td class="d4 sub" ng-click="removeDie(4)">-</td>
                <td class="d4"><span>{{dicestats.d4.count}}</span></td>
                <td class="d4 add" ng-click="addDie(DiceD4,'#ff00ff')">+</td>
                <td class="d6 sub" ng-click="removeDie(6)">-</td>
                <td class="d6"><span>{{dicestats.d6.count}}</span></td>
                <td class="d6 add" ng-click="addDie(DiceD6,'#00ffff')">+</td>
                <td class="d8 sub" ng-click="removeDie(8)">-</td>
                <td class="d8"><span>{{dicestats.d8.count}}</span></td>
                <td class="d8 add" ng-click="addDie(DiceD8,'#00ff00')">+</td>
                <td class="d10 sub" ng-click="removeDie(10)">-</td>
                <td class="d10"><span>{{dicestats.d10.count}}</span></td>
                <td class="d10 add" ng-click="addDie(DiceD10,'#ffff00')">+</td>
                <td class="d12 sub" ng-click="removeDie(12)">-</td>
                <td class="d12"><span>{{dicestats.d12.count}}</span></td>
                <td class="d12 add" ng-click="addDie(DiceD12,'#ff8000')">+</td>
                <td class="d20 sub" ng-click="removeDie(20)">-</td>
                <td class="d20"><span>{{dicestats.d20.count}}</span></td>
                <td class="d20 add" ng-click="addDie(DiceD20,'#ff0000')">+</td>

            </tr>
            <tr>
                <td>Values</td>
                <td colspan=3 class="d4"><div ng-repeat="die in dicestats.d4.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td colspan=3 class="d6"><div ng-repeat="die in dicestats.d6.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td colspan=3 class="d8"><div ng-repeat="die in dicestats.d8.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td colspan=3 class="d10"><div ng-repeat="die in dicestats.d10.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td colspan=3 class="d12"><div ng-repeat="die in dicestats.d12.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td colspan=3 class="d20"><div ng-repeat="die in dicestats.d20.list" class="{{result(die)}} roll">{{die.getUpsideValue()}}</div></td>
                <td>Total</td>
            </tr>
            <tr>
                <td>Sum</td>
                <td colspan=3 class="d4"><div>{{total(4)}}</div></td>
                <td colspan=3 class="d6"><div>{{total(6)}}</div></td>
                <td colspan=3 class="d8"><div>{{total(8)}}</div></td>
                <td colspan=3 class="d10"><div>{{total(10)}}</div></td>
                <td colspan=3 class="d12"><div>{{total(12)}}</div></td>
                <td colspan=3 class="d20"><div>{{total(20)}}</div></td>
                <td><div>{{grandTotal()}}</div></td>
            </tr>
        </table>
        <div id="ThreeJS" style="position: absolute; right:0px; bottom:0px" ondblclick="controls.reset()"></div>
    </div>
<script>
// standard global variables
var container, scene, camera, renderer, controls, stats, world, dice = [];

var app = angular.module("myApp", []);
app.controller('MainController', ['$scope', function($scope) {
    class Combatant {
        constructor(){
            this.initiative = 0;
            this.name = "Name";
        }
    }
    $scope.combatants = [new Combatant()];





    $scope.dicestats = {
        d4: {count: 0,total: 0, list: []},
        d6: {count: 0,total: 0, list: []},
        d8: {count: 0,total: 0, list: []},
        d10: {count: 0,total: 0, list: []},
        d12: {count: 0,total: 0, list: []},
        d20: {count: 0,total: 0, list: []}
    }
    // FUNCTIONS
    $scope.init = function ()
    {
        // SCENE
        scene = new THREE.Scene();
        // CAMERA
        var SCREEN_WIDTH = window.innerWidth*0.5, SCREEN_HEIGHT = window.innerHeight*0.5;
        var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.01, FAR = 20000;
        camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
        scene.add(camera);
        camera.position.set(0,40,0);
        // RENDERER
        renderer = new THREE.WebGLRenderer( {antialias:true} );
        renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
        renderer.shadowMap.enabled = true;
        renderer.shadowMap.type = THREE.PCFSoftShadowMap;

        container = document.getElementById( 'ThreeJS' );
        container.appendChild( renderer.domElement );
        // CONTROLS
        controls = new THREE.OrbitControls( camera, renderer.domElement );
        // STATS
        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.bottom = '0px';
        stats.domElement.style.zIndex = 100;
        //container.appendChild( stats.domElement );

        let ambient = new THREE.AmbientLight('#ffffff', 0.5);
        scene.add(ambient);

        let directionalLight = new THREE.DirectionalLight('#ffffff', 0.5);
        directionalLight.position.x = 0;
        directionalLight.position.y = 1000;
        directionalLight.position.z = 0;
        scene.add(directionalLight);

        // FLOOR
        var floorMaterial = new THREE.MeshPhongMaterial( { color: '#444444', side: THREE.DoubleSide } );
        var floorGeometry = new THREE.PlaneGeometry(30, 30, 1, 1);
        var floor = new THREE.Mesh(floorGeometry, floorMaterial);
        floor.rotation.x = Math.PI / 2;
        scene.add(floor);
        
        var wallMaterial = new THREE.MeshPhongMaterial( { color: '#222222', side: THREE.DoubleSide } );
        var wallGeometry = new THREE.PlaneGeometry(30, 5, 1, 1);

        ////////////
        // CUSTOM //
        ////////////
        world = new CANNON.World();

        world.gravity.set(0, -9.82 * 20, 0);
        world.broadphase = new CANNON.NaiveBroadphase();
        world.solver.iterations = 16;

        DiceManager.setWorld(world);

        //Floor
        let floorBody = new CANNON.Body({mass: 0, shape: new CANNON.Plane(), material: DiceManager.floorBodyMaterial});
        floorBody.quaternion.setFromAxisAngle(new CANNON.Vec3(-1, 0, 0), Math.PI/2);
        world.add(floorBody);

        //Walls
        var northwallShape = new CANNON.Box(new CANNON.Vec3(15,15,1));
        var northwallBody = new CANNON.Body({ mass: 0 });
        northwallBody.addShape(northwallShape);
        northwallBody.position.set(0,7.5,-15);
        world.addBody(northwallBody);

        var eastwallShape = new CANNON.Box(new CANNON.Vec3(1,15,15));
        var eastwallBody = new CANNON.Body({ mass: 0 });
        eastwallBody.addShape(eastwallShape);
        eastwallBody.position.set(15,7.5,0);
        world.addBody(eastwallBody);

        var southwallShape = new CANNON.Box(new CANNON.Vec3(15,15,1));
        var southwallBody = new CANNON.Body({ mass: 0 });
        southwallBody.addShape(southwallShape);
        southwallBody.position.set(0,7.5,15);
        world.addBody(southwallBody);

        var westwallShape = new CANNON.Box(new CANNON.Vec3(1,15,15));
        var westwallBody = new CANNON.Body({ mass: 0 });
        westwallBody.addShape(westwallShape);
        westwallBody.position.set(-15,7.5,0);
        world.addBody(westwallBody);

        requestAnimationFrame( animate );

        $scope.DiceD4 = DiceD4;
        $scope.DiceD6 = DiceD6;
        $scope.DiceD8 = DiceD8;
        $scope.DiceD10 = DiceD10;
        $scope.DiceD12 = DiceD12;
        $scope.DiceD20 = DiceD20;
        $scope.addDie = function(_class,_color){
            var die = new _class({size: 1.5, backColor: _color});
            scene.add(die.getObject());
            dice.push(die);
            $scope.dicestats["d"+die.values].count++;
            $scope.dicestats["d"+die.values].list.push(die);
        }
        $scope.addDie(DiceD4,"#ff00ff");
        $scope.addDie(DiceD6,"#00ffff");
        $scope.addDie(DiceD8,"#00ff00");
        $scope.addDie(DiceD10,"#ffff00");
        $scope.addDie(DiceD12,"#ff8000");
        $scope.addDie(DiceD20,"#ff0000");

        $scope.removeDie = function(_d){
            var die = dice.find(x => x.values == _d);
            if(die){
                scene.remove(die.getObject());
                dice = dice.filter(x => x != die);
                $scope.dicestats["d"+die.values].count--;
                $scope.dicestats["d"+die.values].list = $scope.dicestats["d"+die.values].list.slice(1);
                $scope.$digest();
            }
        }
        $scope.removeAllDice = function(){
            dice.forEach(die => {
                scene.remove(die.getObject());
                dice = dice.filter(x => x != die);
                $scope.dicestats["d"+die.values].count--;
                $scope.dicestats["d"+die.values].list = [];
                $scope.dicestats["d"+die.values].total = 0;
            });
            $scope.$digest();
        }
    }
    $scope.init();

    function randBetween(a,b){
        var mult = b - a + 1;
        var min = a - 1
        return Math.ceil(Math.random()*mult+min);
    }

    $scope.total = function(_d){
        var theseDice = dice.filter(x=>x.values == _d)
        if(theseDice.length != 0){
            return theseDice.map(x => x.getUpsideValue()).reduce((x,y) => x + y);
        }
    }
    $scope.grandTotal = function(){
        if(dice.length != 0){
            return dice.map(x => x.getUpsideValue()).reduce((x,y) => x + y);
        }
    }

    $scope.result = function(_die){
        if(_die.isFinished()){
            var val = _die.getUpsideValue()
            if(val == 1){
                return "fail"
            }
            else if(val % _die.values == 0){
                return "crit"
            }
        }
    }

    $scope.randomDiceThrow = function() {
        for (var i = 0; i < dice.length; i++) {
            dice[i].getObject().position.x = randBetween(-5,5);
            dice[i].getObject().position.y = randBetween(1,5);
            dice[i].getObject().position.z = randBetween(-5,5);
            dice[i].getObject().quaternion.x = randBetween(-45,45) * Math.PI / 180;
            dice[i].getObject().quaternion.y = randBetween(-45,45) * Math.PI / 180;
            dice[i].getObject().quaternion.z = randBetween(-45,45) * Math.PI / 180;
            dice[i].updateBodyFromMesh();
            dice[i].getObject().body.velocity.set(randBetween(-50,50),randBetween(-50,50),randBetween(-50,50));
            dice[i].getObject().body.angularVelocity.set(20 * Math.random() -10, 20 * Math.random() -10, 20 * Math.random() -10);
        }
    }
    $scope.randomDiceThrow();

    function animate()
    {
        world.step(1.0 / 60.0);
        for (var i in dice) {
            dice[i].updateMeshFromBody();
        }
        renderer.render( scene, camera );
        controls.update();
        stats.update();
        requestAnimationFrame( animate );
        $scope.$digest();
    }
}]);
</script>
</body>
</html>